<html>
<head>
    <script language="JavaScript">
        function newRoom() {
            var link = document.getElementById('newRoomLink');
            var name = document.getElementById('newRoomName').value;
            var room = name?name:'default';
            link.href = "/chatroom/" + room;
        }
    </script>
</head>
<body>
<% if(user) {%>
	<div>Welcome, <%= user.name %>!    <a href="/logout">logout</a></div>

    <br/><br/>
    <% if(rooms.length > 0) {%>
    <div><b>Available chat rooms:</b></div>
    <div>
        <% for(var i = 0; i < rooms.length; i++) { %>
        <%= rooms[i]? rooms[i]: 'default' %>&nbsp;&nbsp;<a href="/chatroom/<%= (rooms[i]?rooms[i]:'default')%>">Join</a><br/>
        <% } %>
    </div>
    <% } else { %>
    <div><b>No chat room available!</b></div>

    <% } %>
    <br/><br/>
    <div>
        <div><b>Open a new room: (click Go directly to open the default room listening on /)</b></div><br/>
        <div>Room name: <input type="text" id="newRoomName" name="roomname"/>&nbsp;&nbsp;<a href="" id="newRoomLink" onclick="newRoom()">Go</a></div>
    </div>

<% } else {%>
	<%- include login %>
<% } %>
</body>
</html>